//site color variables
$body-color: #fff;
$bg-color: #dff1f4;
$primary-color: #ffba0a;
$secondary-color: #5477f8;
$text-color: #232631;
$text-color-dark: #232631;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #ededf4;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Poppins", sans-serif;
