 <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-subscribe-title">
          <h2>Subscribe</h2>
        </div>
      </div>
      <div class="col-lg-8 mx-auto">
        <form action="https://buttondown.com/api/emails/embed-subscribe/sevaultwallet" method="post" class="footer-subscribe-form"   action="https://buttondown.com/api/emails/embed-subscribe/sevaultwallet"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.com/sevaultwallet', 'popupwindow')"
>
          <div class="from-group">
            <div class="input-group">
              <input type="email" class="form-control" name="email" placeholder="Enter Your E-mail" id="bd-email">
              <div class="subscribe">
                <input class="btn btn-subscribe" type="submit" value="subscribe"/>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>